*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, ul, ol {
  list-style: none;
}

body{
  width: 100%;
  padding: 10px;
}

.app{
  width: 100%;
}

.item-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.item-list>.item-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: antiquewhite;
}

.fit-picture{
  width: 50%;
}

.go-cart{
  width: 100%;
  height: 20px;
}

.detail {
  display: flex;
  background-color: antiquewhite;
  height: 100%;
}

.detail .fill-picture {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.detail .img-box
{
  width: 50%;
  padding: 10px;
  align-self: center;
}
.detail .option-box {
  width: 50%;
  padding: 10px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
.selected-list{
  border: 1px solid black;
  padding: 10px;
}
.selected-list{
  margin-top: auto;
}
.put-button{
  width: 100%;
  height: 20px;
}
.seleted-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.counter{
  width: 40%;
  height: 20px;
}
